
@{
    ViewBag.Title = "Index";
}

<h2>Talavera de la luz</h2>

<content> 
    <div class="row encabezado">
        <h4 class="col-4">Barro en Granel</h4>
        <div class="col-8 text-right">            
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Total en Kg</th>
                <th class="text-primary">Suma Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.lstBarroGranelLuz)
            {
                <tr>
                    <td>@item.Tipo</td>
                    <td>@item.TotalKg</td>
                    <td class="text-primary">@ViewData[item.Tipo]</td>
                </tr>
            }
        </tbody>
    </table>
</content>

<content>   
    <div class="row encabezado">
        <h4 class="col-4">Barro empaquetado</h4>
        <div class="col-8 text-right">
            @Html.ActionLink("Historial", "HistorialBarroEmpaque", new { Sucursal = 1 }) -
            @Html.ActionLink("Solicitar barro empaquetado", "SolicitarBarroEmpaque", new { Sucursal = 1 })            
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Paquete Kg</th>
                <th>Unidades</th>
                <th>Total en Kg</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.lstBarroEmpaqueLuz)
            {
                <tr>
                    <td>@item.Tipo</td>
                    <td>@item.Capacidad</td>
                    <td>@item.Unidades</td>
                    <td>@item.TotalKg</td>
                </tr>
            }
        </tbody>
    </table>
</content>

<content>
    @if (ViewBag.lstBarroEmpaqueLuz.Count == 0)
    {
        <p style="margin-top:2rem; margin-bottom:2rem">
            @Html.Label("Preparación de barro", new { style = "color: gray" })
        </p>
    }
    else
    {
        <p style="margin-top:2rem; margin-bottom:2rem">
            @Html.ActionLink("Preparación de barro", "Index", "PreparacionBarro", new { pLoc = 1 }, null)
        </p>
    }
</content>

<content>   
    <div class="row encabezado">
        <h4 class="col-4" >Pellas barro</h4>
        <div class="col-8 text-right">
            @Html.ActionLink("Historial de cargas", "Index", "PreparacionPellas", new { pLoc = 1 }, null) -
            @Html.ActionLink("Movimientos", "Movimientos", "SolicitarPellas", new { pLoc = 1 }, null) -
            @Html.ActionLink("Solicitar pellas", "Solicitar", "SolicitarPellas", new { pLoc = 1 }, null)
        </div>        
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Pellas</th>
                <th>Unidades</th>
                <th>Total en Kg</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.lstPellas)
            {
                <tr>
                    <td>@item.Tipo</td>
                    <td>@item.Unidades</td>
                    <td>@item.TotalKg</td>
                </tr>
            }
        </tbody>
    </table>
</content>

<content>
    <p>
        @Html.ActionLink("Entregar pellas", "Entregar", "SolicitarPellas", new { pLoc = 1 }, null) - 
        @Html.ActionLink("Reporte entrega de pellas", "ReporteEntrega", "SolicitarPellas", new { pLoc = 1 }, null)
    </p>
</content>

