@model IEnumerable<TalaveraWeb.Models.MiBD.PreparacionPellas>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<h2 style="text-align:center">
    @ViewBag.NombreLocacion
</h2>
<h3 style="text-align:center">Reporte de barro en fuentes</h3>
<br /><br />



<p>
    @*@Html.ActionLink("Crear nuevo", "CrearPellas")*@
    <button type="button" class="btn btn-primary" id="aCrearNuevo">Crear nuevo</button>
    @*<a id="aCrearNuevo" >Crear nuevo</a>*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fuente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumCarga)
        </th>
        <th style="min-width: 110px;">
            @Html.DisplayNameFor(model => model.FechaVaciado)
        </th>
        @*<th style="min-width: 110px;">
            @Html.DisplayNameFor(model => model.FechaLevantado)
        </th>*@
        <th style="min-width: 110px;">
            @Html.DisplayNameFor(model => model.FechaInicoPisado)
        </th>
        @*<th style="min-width: 110px;">
            @Html.DisplayNameFor(model => model.FechaFinPisado)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.NumPeyas)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Restante)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CargaTotal)
        </th>
        <th style="min-width: 130px;"></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        @Html.HiddenFor(modelItem => item.Id)        
        <td>
            @Html.DisplayFor(modelItem => item.Fuente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumCarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVaciado)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FechaLevantado)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicoPisado)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FechaFinPisado)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.NumPeyas)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Restante)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CargaTotal)
        </td>
        <td>
            @Html.ActionLink("Detalles", "DetallePellas", new { id=item.Id }) |            
            @Html.ActionLink("Borrar", "BorrarPellas", new { id=item.Id })
        </td>
    </tr>
}

</table>

@if (ViewBag.Loc == 1)
{
    <div>
        @Html.ActionLink("Página principal", "Index", "LaLuz")
    </div>
}
else
{
    <div>
        @Html.ActionLink("Página principal", "Index", "TreintaYCuatroPte")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $("#aCrearNuevo").on("click", function () {

                var url = "@Url.Action("ValidaRecursos", "PreparacionPellas")"

                $.post(url).done(function (data) {

                    if (data.length === 0) {
                        $("#dialog").dialog("open");
                    }
                    else {
                        window.location.href = "@Url.Action("CrearPellas", "PreparacionPellas")";
                    }

                }).fail(function (error) {
                    window.location.href = "@Url.Action("Index", "Home")";
                }).always(function () {
                });


            });
        });
    </script>

}

<div id="dialog" title="Recursos insuficientes">
    <p>No cuentas con los recursos necesarios para crear una carga.</p>
</div>