
@{
    ViewBag.Title = "Index";
}

<h3>Almacén de Barro</h3>

<p>
    @Html.ActionLink("Nueva Reserva", "Create")
</p>
<h4 class="encabezado">Reservas en 34 poniente</h4>
<table class="table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Capacidad</th>
            <th>Unidades</th>
            <th>Total en Kg</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.lst34Pte)
        {
            <tr>
                <td>@item.Tipo</td>
                <td>@item.Capacidad</td>
                <td>@item.Unidades</td>
                <td>@item.TotalKg</td>
            </tr>
        }        
    </tbody>
</table>

<br />
<br />
<p>
    @Html.ActionLink("Solicitar Reservas", "SolicitarReserva", new { lstLuz = ViewBag.lstLuz })
</p>

<h4 class="encabezado">Talavera de la Luz</h4>
<table class="table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Capacidad</th>
            <th>Unidades</th>
            <th>Total en Kg</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.lstLuz)
        {
            <tr>
                <td>@item.Tipo</td>
                <td>@item.Capacidad</td>
                <td>@item.Unidades</td>
                <td>@item.TotalKg</td>
            </tr>
        }
    </tbody>
</table>

