@model TalaveraWeb.Models.SolicitarReserva

@{
    ViewBag.Title = "SolicitarReserva";
}

<h2>Solicitar Reserva</h2>

<content>
    <h3>Reservas disponibles en 34 poniente</h3>
    <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Capacidad</th>
                <th>Unidades</th>
                <th>Total en Kg</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.lst34Pte)
            {
                <tr>
                    <td>@item.Tipo</td>
                    <td>@item.Capacidad</td>
                    <td>@item.Unidades</td>
                    <td>@item.TotalKg</td>
                </tr>
            }
        </tbody>
    </table>
</content>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Reservas Solicitadas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Reserva requerida", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.lstTipoCapacidad, (IEnumerable<SelectListItem>) Model.lstTipoCapacidad)
                @Html.ValidationMessageFor(model => model.Unidades, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Unidades, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unidades, new { htmlAttributes = new { @class = "form-control", @max = "10" } })
                @Html.ValidationMessageFor(model => model.Unidades, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalKg, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalKg, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TotalKg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function()
    {
        $("#lstTipoCapacidad").on("change", function () {

            actualizaUnidadesMax();

        });

        function actualizaUnidadesMax(){
            var CodigoBarroSeleccionado = document.getElementById("lstTipoCapacidad").value;
            var lstBarroDisponible = @Html.Raw(Json.Encode(ViewBag.lst34pte));

            lstBarroDisponible.forEach(function(element){
                if(element.CodigoBarro == CodigoBarroSeleccionado){
                    document.getElementById("Unidades").setAttribute("max", element.Unidades);
                }
            })
        }
        actualizaUnidadesMax();

        $("#Unidades").on("change", function () {
            actualizaTotalKg();
        });

        function actualizaTotalKg(){
            var CodigoBarroSeleccionado = document.getElementById("lstTipoCapacidad").value;
            var lstBarroDisponible = @Html.Raw(Json.Encode(ViewBag.lst34pte));
            var Unidades = document.getElementById("Unidades").value;
            var Total = 0;
            lstBarroDisponible.forEach(function(element){
                if(element.CodigoBarro == CodigoBarroSeleccionado){
                    Total = element.Capacidad * Unidades;
                }
            })

            document.getElementById('TotalKg').value = Total;
            //document.getElementById("TotalKg").setAttribute("value", Total);
        }
    })
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
