<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Talavera</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#0b122e">
        <img src="~/Imagen/talavera3.jpg" class="row" style="max-width: 100%;" />
        <div class="row" style="width: 100%; margin-top:10px">
            <div class="col-md-3 col-lg-2">
                <ul class="nav navbar-inverse">
                    <li style="margin-left:10px">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li style="margin-left:10px">@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li style="margin-left:10px">@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-8 text-center">
                @*
                    <li>@Html.ActionLink("Movimientos Barro", "Index", "MovimientosBarro")</li>
                    <li>@Html.ActionLink("Preparacion Barro", "Index", "PreparacionBarro")</li>
                    <li>@Html.ActionLink("Preparacion Pellas", "Index", "PreparacionPellas") </li>*@
                @if (User.IsInRole("Administrador"))
                {
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Catálogos <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Proveedores", "Index", "Provedores")</li>
                            <li>@Html.ActionLink("Barro", "Index", "BarroMaestra")</li>
                            <li>@Html.ActionLink("Usuarios", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Roles", "Index", "Role")</li>
                        </ul>
                    </div>
                }
                @if (User.IsInRole("Usuario") || User.IsInRole("Administrador"))
                {
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Almacén <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("La Luz", "Index", "LaLuz")</li>
                            <li>@Html.ActionLink("34 poniente", "Index", "TreintaYcuatroPte")</li>
                        </ul>
                    </div>
                }
            </div>
            <div class="col-md-3 col-lg-2 text-right">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top:110px">
        @RenderBody()
        <hr />
        <footer>
            <p style="font-size: small;color: #032177">
                Juan de Palafox y Mendoza 1413. Col. Centro, Puebla. México.  Tel: (222) 246-12-15
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
