<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Talavera</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#0b122e">
        <div class="container">
            <img src="~/Imagen/talavera3.jpg" style="max-width: 100%;" />
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Catálogos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/Provedores">Proveedores</a>
                                <a class="dropdown-item" href="/BarroMaestra">Barro</a>
                                <a class="dropdown-item" href="/Sucursales">Sucursales</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Almacén
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/LaLuz">La Luz</a>
                                <a class="dropdown-item" href="/TreintaYcuatroPte">34 poniente</a>
                            </div>
                        </div>
                    </li>

                    @*<li>@Html.ActionLink("Proveedores", "Index", "Provedores")</li>
                    <li>@Html.ActionLink("Barro", "Index", "BarroMaestra")</li>
                    <li>@Html.ActionLink("Movimientos Barro", "Index", "MovimientosBarro")</li>*@
                    <li>@Html.ActionLink("Preparacion Barro", "Index", "PreparacionBarro")</li>
                    <li>@Html.ActionLink("Preparacion Pellas", "Index", "PreparacionPellas") </li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:110px">
        @RenderBody()
        <hr />
        <footer>
            <p style="font-size: small;color: #032177">
                Juan de Palafox y Mendoza 1413. Col. Centro, Puebla. México.  Tel: (222) 246-12-15
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
